@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Source+Code+Pro:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root, .App{
  background-color: #242038;
  height: 100%;
  @apply text-white
} 